

.app_light, .app_dark{
    display: flex;
    flex-direction: column;

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 4%;
        box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.2);

        h1:first-child{
            margin-right: auto;
            font-size: 1.5rem;
        }
        .theme-btn{
            margin-left: auto;
            cursor: pointer;

            p{
                display: inline;
                margin-left: .5rem;
                user-select: none;
                font-weight: 400;
            }
        }
    }


    .filter-sec{
        display: flex;
        flex-direction: row;
        margin-block: 2rem;
        padding-inline: 4%;
        .in{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: auto;
            border-radius: .2rem;
            box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.4);
            width: 37%;


            .icon{
                margin: 0 1rem;
            }
            input{
                padding: 1rem 0;
                border: none;
                outline: none;
                text-indent: .5rem;
                background-color: transparent;
                width: 100%;
                &:hover,:focus{
                    border: none;
                    outline: none;
                }
            }
        }
        .select{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
            box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.4);
            border-radius: .2rem;
            width: 40%;
            max-width: 13rem;
            
            
            select{
                font-weight: 400;
                width: 100%;
                background-color: transparent;
                padding: 1rem 0 1rem 1rem;
                flex-basis: 80%;
                border: none;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                &:focus,:active{
                    outline: none;
                }

            }

            .icon{
                margin-inline: auto;
            }

        }
        
        
    }



    .countries{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        padding-inline: 4%;
        gap: 4rem;
        width: 100%;

        .country{
            cursor: pointer;
            box-shadow: 0 2px .5rem rgba(0, 0, 0, 0.1);
            border-radius: .2rem;
            overflow: hidden;
            height: 23rem;
            max-width: 25rem;
            margin: auto;
            
            img{
                width: 100%;
                height: 10rem;
            }
            h1{
                margin-left: 10% ;
                font-weight: 600;
                font-size: .8rem;
                p{
                    font-size: .8rem;
                    display: inline;
                    font-weight: 100;
                }
            }
            .title{
                margin-top: 1rem;
                margin-bottom: .8rem;
                font-weight: 700;
                font-size: 1.4rem;
            }
            
        }

    }




}