




// DARK MODE
$dark-mode-txt: hsl(0, 0%, 100%);
$dark-blue-1: hsl(209, 23%, 22%);
$dark-blue-2: hsl(207, 26%, 17%);



// LIGHT MODE
$light-mode-txt: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-bg: hsl(0, 0%, 98%);




